@tailwind base;
@tailwind components;
@tailwind utilities;

.cart-image{
    height: 250px;
}
.hr{
    height: 1px;
    background-color: gray;

}
.borderparent {
    border: 2px solid gray;
    border-radius: 10px;
 }
.logoimage{
    height: 72px;
    width: 169px;
}

.starclass{
    color: rgb(62, 173, 110);

}

/* ________________----------------------------------- */

.carousel-wrapper {
	width: 100%;
	max-width: 100vw;
	overflow: hidden;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .carousel .slide {
	background-color: #f0f0f0; /* Optional: Background color for slides */
  }
  
  .carousel .slide img {
	width: 100%;
	height: 100vh;
	display: block;
  }
  